torch
transformers
langchain-huggingface
streamlit
langchain
langchain_community
langchain-core
accelerate
bitsandbytes

onnxruntime
langchain_chroma
langchain-text-splitters
bs4
pysqlite3-binary

scikit-learn
matplotlib
numpy
pandas